@import "../../index.css";
@import "./css/navbar.css";
@import "./css/about.css";
@import "./css/services.css";

@media screen and (min-width: 320px) {
  .hero {
    background-image: url("../../images/heroo.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 3;
  }

  .map-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;

    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .hero__wrapper {
    padding: 20% 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }

  .hero__title {
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Начальное значение непрозрачности */
    }
    to {
      opacity: 1; /* Конечное значение непрозрачности */
    }
  }
  .hero__subtitle {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .hero__btn {
    width: 100%;
    height: 60px;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #4da8da;
  }

  .hero__btn_desktop {
    display: none;
  }

  .events__title {
    font-size: 26px;
    text-align: center;
    padding: 10px;
  }

  .events__wrapper {
    display: flex;
    flex-direction: column;
  }

  .event {
    text-decoration: none;
    color: white;
    background-size: cover;
  }

  .events__wrapper .event:nth-child(1) {
    background-image: url("../../images/creative.jpg");
  }
  .events__wrapper .event:nth-child(2) {
    background-image: url("../../images/ship.jpg");
  }
  .events__wrapper .event:nth-child(3) {
    background-image: url("../../images/coffee.jpg");
  }
  .events__wrapper .event:nth-child(4) {
    background-image: url("../../images/saint-petersburg.jpg");
  }
  .events__wrapper .event:nth-child(5) {
    background-image: url("../../images/comfort.jpg");
  }
  .events__wrapper .event:nth-child(6) {
    background-image: url("../../images/business-class.jpg");
  }

  .event__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .event__subtitle {
    font-size: 14px;
    font-weight: 600;
  }

  .event__wrapper {
    padding: 50px;
    text-align: left;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* ===============================================================================================*/

  .order__title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }

  .order {
    padding: 50px 0 50px;
  }

  .order__wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    text-align: left;
  }

  .form-group > label {
    font-size: 12px;
  }

  .form-group > input {
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    outline: none; /* Убираем обводку при фокусе */
    padding: 5px;
    font-size: 16px;
    background-color: transparent; /* Прозрачный фон */
    border-radius: 8px;
  }
  .form-group > input:focus {
    border: 2px solid #007bff; /* Изменяем цвет подчеркивания при фокусе */
  }

  .address {
    height: 70vh;
    background-image: url("../../images/peter.jpg"); /* Замените 'your-image.jpg' на путь к вашей картинке */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .address__title {
    font-size: 32px;
    font-weight: 800;
  }

  .address__subtitle {
    font-size: 18px;
    font-weight: 500;
  }

  /* ==================================================================================== */

  .footer {
    background-color: #2d2d2d;
    color: white;
    width: 100%;
  }

  .footer__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: left;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #6c6c6c;
  }

  .footer__info {
    font-size: 14px;
  }

  .footer__services-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__item {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: rgb(172, 172, 172);
  }

  .footer__info {
    font-size: 12px;
  }

  .footer__phone {
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 46px;
  }

  .hero__subtitle {
    font-size: 25px;
  }

  .hero__btn_desktop {
    display: block;
    width: 250px;
    height: 60px;
    border: 0;
    border-radius: 30px;
    background-color: #3f88c5;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
  }

  .hero__btn_desktop:hover {
    color: black;
  }

  .hero__btn {
    display: none;
  }

  .events__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .events__wrapper > * {
    flex-basis: 33.33%;
    aspect-ratio: 1 / 1;
  }

  .events__title {
    font-size: 36px;
  }

  .event__wrapper {
    opacity: 0;
  }

  .event__wrapper:hover {
    opacity: 1;
  }

  /*================================================================================*/

  .order__title {
    font-size: 46px;
    font-weight: 800;
  }

  .form-group > label {
    font-size: 18px;
    color: rgb(138, 138, 138);
  }

  .form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-group > input {
    height: 60px;
  }

  .form-button {
    display: block;
    cursor: pointer;
  }

  /* ================================================================= */

  .address {
    height: 100vh;
  }

  .address__title {
    font-size: 58px;
    font-weight: 800;
  }

  .address__subtitle {
    font-size: 22px;
    font-weight: 600;
  }

  /*================================================================================*/

  .footer__wrapper {
    margin: 0 auto;
    flex-direction: row;
    gap: 50px;
    max-width: 75%;
  }

  .footer__info {
    font-size: 18px;
  }

  .line {
    display: none;
  }

  .footer__title {
    font-size: 20px;
  }

  .footer__item {
    font-size: 14px;
  }

  .footer__logo {
    font-size: 30px;
  }

  .footer__phone {
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
}
